
@{
    ViewData["Title"] = "contactus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="top"></h1>
<div class="col">
    <div class="card " style="width: 80rem;">
        <div class="card-body">
            <h1 style="color:black;font-family:'Times New Roman'" class="card-title" align="center">Contact Us</h1>
            <br />
            <div class="container">
                <div class="row row-cols-3 row-cols-md-3">
                    <div class="icons" align="center">

                        <i class='bx bx-phone-call bx-lg'></i>
                        <h5 style="color:gray">BY PHONE</h5>
                        <p class="desc" style="font-size:27px">
                            <b>
                                <small>(Monday to Friday, 9am to 5pm)</small>
                                <br />
                                Prithwiraj:<br />
                                +91 9036929603
                                <br /><br />
                                Krishna Shravan:<br />
                                +91 9620768869
                            </b>
                        </p>


                    </div>



                    <div class="icons" align="center">



                        <i class='bx bxs-buildings bx-lg'></i>
                        <h5 style="color:gray">OFFICE</h5>
                        <p class="desc" style="font-size:27px">
                           
                            
                                <b>
                                    Wipfli India LLP<br />
                                    Tower B, 4th Floor<br />
                                    Global Village Tech Park<br />
                                    RVCE Post, Off Mysore Road<br />
                                    Bengaluru, Ind<br />
                                    560059<br />
                                </b>
                      
       
                            
                        </p>




                    </div>




                    <div class="icons" align="center">



                        <i class='bx bx-mail-send bx-lg'></i>
                        <h5 style="color:gray">Write To Us</h5>
                        <p class="desc" style="font-size:27px">
                            <b>
                                india@wipfli.com<br />
                            </b>
                            <b>
                                Krishna@wipfli.com<br />
                            </b>
                            <b>
                                Prithwi@wipfli.com<br />
                            </b>
                        </p>




                    </div>










                </div>



            </div>







        </div>
    </div>
</div>

