
@{
    ViewData["Title"] = "dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="top" style="color:white;font-family:'Times New Roman' ">Dashboard</h1>







        <div class="container" >
            <div class="row row-cols-3 row-cols-md-3">
        <div class="col">
            <div class="card " style="width: 20rem;">
                <div class="card-body">
                <h5 style="color:black;font-family:'Times New Roman'" class="card-title"> CLASSICAL</h5>
                <br />
                <a href="/music/classical">
                        <img style="width:290px;height:150px;" src="/image/classical.jpg">
                </a>
                <br />

                </div>
            </div>
           </div>

        <div class="col">
            <div class="card " style="width: 20rem;">
                <div class="card-body">
                    <h5 style="color:black;font-family:'Times New Roman'" class="card-title">WESTERN</h5>
                    <br />
                    <a href="/music/western">
                        <img style="width:290px;height:150px;" src="/image/west.jfif">
                    </a>
                    <br />
                </div>

                </div>
        </div>



            <div class="col">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 style="color:black;font-family:'Times New Roman'" class="card-title">ROCK</h5>
                    <br />
                    <a href="/music/rock">
                        <img style="width:290px;height:150px;" src="/image/rock.jpg">
                    </a>
                    <br />

                </div>

            </div>
            </div>

        <div class="col">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 style="color:black;font-family:'Times New Roman'" class="card-title">INSTRUMENTAL</h5>
                    <br />
                    <a href="/music/instrumental">
                        <img style="width:290px;height:150px;" src="/image/instru.jpg">
                    </a>
                    <br />

                </div>

            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 style="color:black;font-family:'Times New Roman'" class="card-title">POP</h5>
                    <br />
                    <a href="/music/devotional">
                        <img style="width:290px;height:150px;" src="/image/pop.jpg">
                    </a>
                    <br />

                </div>

            </div>



        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 style="color:black;font-family:'Times New Roman'" class="card-title">EDM</h5>
                    <br />
                    <a href="/music/Edm">
                        <img style="width:290px;height:150px;" src="/image/edm7.jpg">
                    </a>
                    <br />

                </div>

            </div>



        </div>
        </div>



</div>

   
