@model musicapp.Models.User;
@{
    ViewData["Title"] = "Login";
}

<section  style="background-color: black;height:fit-content">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/image/banner1.jpg"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height:635px" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form method="post">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Login</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div class="form-floating mb-3" style="color:black;">

                                        <input type="text" asp-for="Username" class="form-control" id="floatingInput" placeholder="Enter username" required />
                                        <label for=" floatingInput">Username:</label><br />
                                    </div>

                                    <div class="form-floating mb-3" style="color:black;">

                                        <input type="password" asp-for="Password" class="form-control" id="floatingInput" placeholder="Enter Password" required />
                                        <label for=" floatingInput">Password</label><br />
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <input type="submit"  class="btn btn-primary" value="Submit" type="button">
                                    </div>

                                   
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Don't have an account? <a asp-action="Registration" style="color: #393f81;">Register here</a>
                                    </p>
                                    
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<h1 class="top"  style="color:black;font-family:'Times New Roman'">Login</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Login</title>
</head>
<body>

    <div>
        <form method="post">
            <div style="width:500px;margin-left:300px">

                <div class="form-floating mb-3" style="color:black;">

                    <input type="text" asp-for="Username" class="form-control" id="floatingInput" placeholder="Enter username" required />
                    <label for=" floatingInput">Username:</label><br />
                </div>

                <div class="form-floating mb-3" style="color:black;">

                    <input type="password" asp-for="Password" class="form-control" id="floatingInput" placeholder="Enter Password" required />
                    <label for=" floatingInput">Password</label><br />
                </div>


            <input type="submit" value="Submit" class="btn btn-success"/>


                @Html.ActionLink("new user?", "Registration", null, new {@class="btn btn-primary"})
            </div>

        </form>


        <div style=" background-color:steelblue;color:white;border:3px dotted red">
            @ViewData["error"]
        </div>
    </div>
</body>
</html>*@

