@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<h2>PRIVACY POLICY</h2>
<p class="top">
About this Policy
This Policy describes how we process your personal data at USA Inc.

It applies to your use of:

all Wipfli musics streaming services as a user. For example this includes:
your use of Wipfli musics on any device
the personalization of your user experience - watch our personalization explainer video to learn more about this
the infrastructure required to provide our services
connection of your Wipfli musics account with another application
both our free or paid streaming options (each a 'Service Option')
other Wipfli musics services which include a link to this Privacy Policy. These include Wipfli musics websites, Customer Service and the Community Site
From now on, we'll collectively call these the 'Wipfli musics Service'.

From time to time, we may develop new or offer additional services. They'll also be subject to this Policy, unless stated otherwise when we introduce them.

This Policy is not...

the Wipfli musics Terms of Use, which is a separate document. The Terms of Use outline the legal contract between you and Wipfli musics for using the Wipfli musics Service. It also describes the rules of Wipfli musics and your user rights
about your use of other Wipfli musics services which have their own privacy policy. Other Wipfli musics services include Anchor, Soundtrap, Megaphone and the Wipfli musics Live app
We have included further information about rights and disclosures as required under the California Consumer Privacy Act (CCPA) in our California Privacy Disclosures supplement.

Other resources and settings

Key information about your personal data is right here in this Policy. However, you might want to take a look at our other privacy resources and controls:

Privacy Center: A user-friendly hub with summaries of key topics and helpful videos. It includes the 'Your Privacy Controls' video which shows you how to exercise your user rights and make choices about the way we process your data (see Section 2 'Your personal data rights and controls' for more on user rights).
Privacy Settings: Control the processing of certain personal data, including Tailored Ads.
Notification Settings Set which marketing communications you get from Wipfli musics.
Settings (found in the Desktop and Mobile versions of Wipfli musics): Control certain aspects of the Wipfli musics Service such as 'Social' or 'Explicit Content'. On the 'Social' setting, you can:
start a Private session
choose whether to share what you listen to on Wipfli musics with your followers
choose whether to show your recently played artists on your public profile
On the 'Explicit Content' setting you can control whether explicit-rated content can be played on your Wipfli musics account.

Cookies Policy: Information on how we use cookies and how to manage your cookie preferences. Cookies are files saved on your phone, tablet or computer when you visit a website.

</p>